<form method="post" action="">
    name:<input type="text" name="name" >
    distype:<input type="text" name="discountType">
    disvalue:<input type="number" name="discountValue">
    max:<input type="number" name="maxRedeemableAmt">
    sdate:<input type="date" name="startDate ">
    edate:<input type="date" name="endDate">
    disproduct<input type="text" name="discountedProduct">
    <input type="submit" value="submit">
</form>