


<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->
<head>
    <meta charset="utf-8">
    <title>AppleStore</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assetsb/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="assetsb/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/public/logo/logo.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Admin Dashboard</span>
                    </a>
                </li>
                <!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="  ">Product List</a>
                        <a href="page-products-grid.html">Product grid</a>
                        <a href="page-products-grid-2.html">Product grid 2</a>
                        <a href="page-categories.html">Categories</a>
                    </div>
                </li> -->
                <li class="menu-item has-submenu ">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/userDetails">Details</a>
                        
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Category</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/new-category">Add Category</a>
                        <a href="/admin/viewCategory">View Category</a>
                       
                    </div>
                    <div class="submenu">
                        
                        
                    </div>
                </li>
                <!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
                        <span class="text">Sellers</span>
                    </a>
                    <div class="submenu">
                        <a href="page-sellers-cards.html">Sellers cards</a>
                        <a href="page-sellers-list.html">Sellers list</a>
                        <a href="page-seller-detail.html">Seller profile</a>
                    </div>
                </li> -->
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">product</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/new-product">Add product </a>
                        <a href="/admin/viewProduct">view product </a>
                        
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-transactions-1.html"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                    <div class="submenu">
                        <a href="page-transactions-1.html">Transaction 1</a>
                        <a href="page-transactions-2.html">Transaction 2</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                        <span class="text">Account</span>
                    </a>
                    <div class="submenu">
                        <a href=" ">Details</a>
                        <a href="page-error-404.html">Error 404</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li>
            </ul>
            <hr>
            <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <%- include("../partials/header2")%>

        <section class="content-main">
            <form name="productform" id="productform" action="/admin/new-product" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                        
                    </div>
                </div>
              
                <div class="col-lg-6">
                    <div class="card mb-4" style="padding-bottom: 58px;">
                        <div class="card-body">
                            <h5 class="my-2">Product Info</h5>
                            <% if (typeof message !== 'undefined' && message) { %>
                                <p style="color: rgb(0, 125, 209);" id="message"><%= message %></p>
                            <% } %><br>
                            <div class="mb-4">
                                <label for="product_title" class="form-label">Product title</label>
                                <input type="text" placeholder="Type here" class="form-control" name="name" id="name">
                                <div class="error"></div>
                            </div>
                            <div class="row gx-3">
                               
                                <div class="  mb-3">
                                    <label for="product_size" class="form-label">Quanity</label>
                                    <input type="number" placeholder="Type here" class="form-control" name="quantity">
                                    <div class="error"></div>
                                </div>
                            </div>
                          
                            <div class="mb-4">
                                <label for="product_brand" class="form-label">product Color</label>
                                <input type="text" placeholder="Type here" class="form-control" name="productColor">
                                <div class="error"></div>
                            </div>
                        </div>
                    </div> <!-- card end// -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="my-2">Product Specifications</h5>
                            
                            <div class="row gx-3 ">
                                <div class="  mb-3  col-lg-6">
                                    <label for="product_title" class="form-label">Battery</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="battery">
                                </div>
                               
                                <div class="  mb-3  col-lg-6">
                                    <label for="product_size" class="form-label">Ram</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="ram">
                                </div>
                            </div>
                             
                            <div class="row gx-3 ">
                                <div class="  mb-3  col-lg-6">
                                    <label for="product_title" class="form-label">Rom</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="rom">
                                </div>
                               
                                <div class="  mb-3  col-lg-6">
                                    <label for="product_size" class="form-label">Expandable</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="expandable">
                                </div>
                            </div>
                             
                            <div class="row gx-3 ">
                                <div class="  mb-3  col-lg-6">
                                    <label for="product_title" class="form-label">RearCam</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="rearCam">
                                </div>
                               
                                <div class="  mb-3  col-lg-6">
                                    <label for="product_size" class="form-label">FrontCam</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="frontCam">
                                </div>
                            </div>
                          
                            <div class="mb-4">
                                <label for="product_brand" class="form-label">Processor</label>
                                <input type="text" placeholder="Type here" class="form-control" name="processor">
                            </div>
                        </div>
                    </div> <!-- card end// -->
                    <!-- <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                <label class="form-label">Images</label>
                                <label for="productImages">Product Images (up to 4 images):</label>
                                <input type="file" id="productImages" name="productImages" multiple accept="image/jpeg, image/png" >
                                <br>
                            </div>
                        </div>
                    </div> card end// -->
                </div>
            
                <div class="col-lg-3" style="max-width: 50% !important;width: 50% !important;">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-4">
                                <label class="form-label">Price</label>
                                <input type="text" placeholder="Type here" class="form-control" name="price">
                                <div class="error"></div>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Discount Price</label>
                                <input type="text" placeholder="Type here" class="form-control" name="discountPrice">
                                <div class="error"></div>
                            </div>
                          
              
                            <hr>
                            <h5 class="mb-3">Categories</h5>
                            <div class="form-check">
                                <div class="error"></div>
                                <input class="form-check-input" type="radio" value="iphone" id="product-cat" name="category">
                                <label class="form-check-label" for="product-cat">iphone</label>
                               
                            </div>
                            
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="ipad" id="product-cat-1" name="category">
                                <label class="form-check-label" for="product-cat-1">ipad</label>
                            </div>
                            
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="mac" id="product-cat-2" name="category">
                                <label class="form-check-label" for="product-cat-2">Mac</label>
                            </div>
                            
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="watch" id="product-cat-3" name="category">
                                <label class="form-check-label" for="product-cat-3">Watch</label>
                            </div>
                            
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="airpods" id="product-cat-4" name="category">
                                <label class="form-check-label" for="product-cat-4">Airpods</label>
                            </div>
                            
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="apple tv" id="product-cat-5" name="category">
                                <label class="form-check-label" for="product-cat-5">Apple TV</label>
                                
                            </div>
                            
                            
                         
                        </div>
                       
                    </div> <!-- card end// -->
         
                    <div class="card mb-4">
                        <div class="card-body">
                            <div>
                                <label class="form-label">Images</label>
                                <label for="productImages">Product Images (up to 4 images):</label>
                                <input type="file" id="productImages" name="productImages" multiple accept="image/jpeg, image/png" >
                                <br>
                            </div>
                        </div>
                    </div> <!-- card end// -->
                    
                    <div>
                           
                        <input type="submit" class="btn btn-md rounded font-sm hover-up" value="Create Product">
                    </div>
                </div>
               
            </div>
            
        </form>
        </section>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="assetsb/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assetsb/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assetsb/js/vendors/select2.min.js"></script>
    <script src="assetsb/js/vendors/perfect-scrollbar.js"></script>
    <script src="assetsb/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="assetsb/js/vendors/chart.js"></script>
    <!-- Main Script -->
    <script src="assetsb/js/main.js" type="text/javascript"></script>
    <script src="assetsb/js/custom-chart.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->
</html>



