




<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:27:15 GMT -->
<head>
    <meta charset="utf-8">
    <title>ZoneApple</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/main.css">
    <style>
        .error {
            color: red;
            font-size: 0.8em;
            margin-top: 5px;
        }
    </style>

    

</head>

<body>
    <%- include("../partials/header")%>
    
    
                        <div class="mb-25" style="padding-left:25%;padding-top:5% ">
                            <h4>Address</h4>
                        </div>


                        <form id="form" method="post" action="/postAddresscheckOut?id=<%= user._id.toString()%>" style="width: 70%; padding-left:25%; ">
                            <div class="form-group">
                                <input type="text" name="name" placeholder="Name">
                                <div class="error" id="nameError"></div>
                            </div>
                            <div class="form-group">
                                <input type="text"  name="houseName" placeholder="HouseName">
                                <div class="error" id="houseNameError"></div>
                            </div>
                            <div class="form-group">
                                <input type="text"  name="street" placeholder="Street">
                                <div class="error" id="streetError"></div>
                            </div>
                            <div class="form-group">
                                <input  type="text" name="city" placeholder="City">
                                <div class="error" id="cityError"></div>
                            </div>
                            <div class="form-group">
                                <input  type="text" name="state" placeholder="State">
                                <div class="error" id="stateError"></div>
                            </div>
                            <div class="form-group">
                                <input  type="text" name="pinCode" placeholder="Pincode">
                                <div class="error" id="pinCodeError"></div>
                            </div>
                            <div class="form-group">
                                <inputtype="text" name="phone" placeholder="Phone">
                                <div class="error" id="phoneError"></div>
                            </div>
                            
                            <div class="row mb-2">
                                <div class="col">
                                  <div class="form-check form-check-inline" style="margin-right: 40px;">
                                    <input class="form-check-input " type="radio" name="type" id="flexRadioDefault1" value="home" checked />
                                    <label class="form-check-label " for="flexRadioDefault1"> Home </label>
                                  </div>
                                  <div class="form-check form-check-inline" style="margin-right: 40px;">
                                    <input class="form-check-input" type="radio" name="type" id="flexRadioDefault2" value="work" />
                                    <label class="form-check-label" for="flexRadioDefault2"> Work </label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="type" id="flexRadioDefault3" value="other" />
                                    <label class="form-check-label" for="flexRadioDefault3"> Other </label>
                                  </div>
                                </div>
                              </div>       
                            <div class="col-md-12 "style="width: 70%; padding-left:35%;">
                                <button type="submit" class="btn btn-fill-out submit" name="submit" value="submit">SAVE</button>
                            </div>
                        </form>
                      
                    </div>
    <%- include("../partials/footer")%>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/main.js"></script>

    <script>
         document.getElementById('form').addEventListener('submit', function (event) {
            const name = document.getElementsByName('name')[0].value;
            const houseName = document.getElementsByName('houseName')[0].value;
            const street = document.getElementsByName('street')[0].value;
            const city = document.getElementsByName('city')[0].value;
            const state = document.getElementsByName('state')[0].value;
            const pinCode = document.getElementsByName('pinCode')[0].value;
            const phone = document.getElementsByName('phone')[0].value;
    
            const nameError = document.getElementById('nameError');
            const houseNameError = document.getElementById('houseNameError');
            const streetError = document.getElementById('streetError');
            const cityError = document.getElementById('cityError');
            const stateError = document.getElementById('stateError');
            const pinCodeError = document.getElementById('pinCodeError');
            const phoneError = document.getElementById('phoneError');
    
            const isNumber = value => !isNaN(value);
    
            let isValid = true;
    
            if (name === '') {
                nameError.textContent = 'Name is required';
                isValid = false;
            } else {
                nameError.textContent = '';
            }
    
            if (houseName === '') {
                houseNameError.textContent = 'HouseName is required';
                isValid = false;
            } else {
                houseNameError.textContent = '';
            }
    
            if (street === '') {
                streetError.textContent = 'Street is required';
                isValid = false;
            } else {
                streetError.textContent = '';
            }
    
            if (city === '') {
                cityError.textContent = 'City is required';
                isValid = false;
            } else {
                cityError.textContent = '';
            }
    
            if (state === '') {
                stateError.textContent = 'State is required';
                isValid = false;
            } else {
                stateError.textContent = '';
            }
    
            if (pinCode === '' || pinCode.length !== 6 || !isNumber(pinCode)) {
                pinCodeError.textContent = 'Pin code must be a 6-digit number';
                isValid = false;
            } else {
                pinCodeError.textContent = '';
            }
    
            if (phone === '' || phone.length !== 10 || !isNumber(phone)) {
                phoneError.textContent = 'Phone number must be a 10-digit number';
                isValid = false;
            } else {
                phoneError.textContent = '';
            }
            if (!isValid) {
                event.preventDefault(); // Prevent the form from submitting if there are errors
            }
            })
    </script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:27:15 GMT -->
</html>



